.user{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: rgba(18, 35, 46, 0.7);
    padding: 15px;
    border-radius: 10px;
}
.userInfo{
    padding-right: 10px;
}
.userPhoto{
    border-radius: 10px;
    width: 80%;
}
.userParagraph{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #EEFBFB;
}
.userLink{
    color: #007CC7;
}
.userReposListItem{
    margin-bottom: 25px;
    padding: 5px;
}
.repoParagraph{
    margin-bottom: 8px;
}
@media (max-width: 500px) {
    .user{
        flex-direction: column;
    }
    .userInfo{
        padding: 0;
    }
}