.repo{
  margin-top: 25px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(18, 35, 46, 0.7);
  border-radius: 10px;
}
.repoHeader{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
.repoHederName{
  color: #4DA8DA;
}
.repoHeaderStars{
  font-weight: bolder;
  color: #4DA8DA;
}
.repoLink{
  font-size: 15px;
  color: #4DA8DA;
  word-break: break-all;
}
.repoDescription, .repoLanguage, .repoLastCommit{
  font-size: 15px;
  margin-bottom: 5px;
  color: #EEFBFB;
  word-break: break-all;
}
@media (max-width: 500px) {
  .repoHeader{
    display: inline-block;
  }
}