.repo{
  margin-top: 25px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #12232E;
}
.repoHeader{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
.repoHederName{
  color: #4DA8DA;
}
.repoHeaderStars{
  font-weight: bolder;
  color: #4DA8DA;
}
.repoLink{
  font-size: 15px;
  color: #4DA8DA;
}
.repoDescription, .repoLanguage, .repoLastCommit{
  font-size: 15px;
  margin-bottom: 5px;
  color: #EEFBFB;
}
@media (max-width: 380px) {
  .repoHeader{
    display: block;
  }
}