.content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgba(18, 35, 46, 0.6);
    border-radius: 10px;
}
p{
    margin-bottom: 8px;
    color:  #EEFBFB;
}
.repoHeader{
    display: flex;
    flex-direction: row;
}
.repoHeaderRight{
    margin-left: 10px;
}
.repoName{
    font-size: 25px;
    font-weight: 600;
    color: #4DA8DA;
}
.ownerPhoto{
    width: 100%;
    border-radius: 5px;
}
.backButton{
    outline: none;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    background-color:  #007CC7;
    color: #EEFBFB;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width: 500px) {
    .repoHeader{
        flex-direction: column;
    }
}