.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    width: 100%;
    max-width: 1080px;
}

@media only screen
and (max-width: 400px) {
    .navigation{
        flex-direction: column;
        height: 120px;
    }
}

.navigationItem{
    color:  #EEFBFB;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 0;
    font-weight: 600;
    font-size: 25px;
}

.navigationItem:hover{
    background-color: #4DA8DA;
    transition-duration: 1.5s;
}