.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}
.input{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 4px;
    width: 100%;
    color: #EEFBFB;
    background-color: #12232E;
}
.input::placeholder{
    color: #EEFBFB;
}
.form :last-child{
    margin-right: 0;
}
@media (max-width: 500px){
    .form{
        flex-direction: column;
        height: 200px;
    }
}